<div class="container">
    <div class="background-color">
        <div class="row">
        	<div class="col-xs-12">
                <h2 class="head-line title_h2 text-center">
        	       <%= @user.name%>の会員編集
                </h2>
                    <div class="form-horizontal" role="form">
                    	<%= form_for(@user, url: admins_user_path, method: :patch) do |f| %>

                    	<div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                		        <div class="checkbox">
                    				<%= f.radio_button :is_deleted, :false %>
                    				<%= f.label :is_deleted,"有効",{value: :true, style: "display :inline-block;",} %>
                    				<%= f.radio_button :is_deleted, :true %>
                                    <%= f.label :is_deleted,"退会済み", {value: :false, style: "display :inline-block;"} %>
                			    </div>
                			    <div class="submit">
                                    <%= f.submit "変更を保存する" , class:"btn btn-info" %>

                                </div>
                    	    </div>
                        </div>
                       <% end %>
                    </div>
            </div>
        </div>
    </div>
</div>