<div class="container">
  <div class="background-color">
    <h2 class="head-line title_h2 text-center">レシピ編集</h2>
    <div class="row">

      <%= form_for(@recipe, url: users_recipe_path, method: :patch, class: "form-horizontal") do |f| %>

        <div class="col-xs-5">
          <div class="img_field">
            <%= attachment_image_tag(@recipe, :image, size: "250x180") %>
          </div>
          <div class="form-group">
	         <%= f.attachment_field :image, class: "image" %>
          </div>
        </div>

        <div class="col-xs-7">
          <div class="form-edit">
            <div class="form-group">
              <%= f.label :"料理名", class: "col-xs-3 control-label" %>
              <%= f.text_field :name, class: "col-xs-9 form-control-static name" %>
            </div>
            <div class="form-group">
              <%= f.label :"材料", class: "col-xs-3 control-label" %>
              <%= f.text_area :ingredient, class: "col-xs-9 form-control-static name" %>
            </div>
            <div class="form-group">
              <%= f.label :"作り方", class: "col-xs-3 control-label" %>
              <%= f.text_area :how_to_cook, class: "col-xs-9 form-control-static name" %>
            </div>
            <div class="form-group">
              <%= f.label :"PFC", class: "col-xs-3 control-label" %>
              <%= f.text_field :pfc, class: "col-xs-9 form-control-static name" %>
            </div>
            <div class="form-group">
              <%= f.label :"ジャンル", class: "col-xs-3 control-label" %>
              <%= f.collection_select(:genre_id, @genres, :id, :name, prompt: "-- 選択してください --", class: "col-xs-9 genre_id") %>
            </div>
          </div>
          <div class="actions">
	          <%= f.submit "変更を保存", class: "btn btn-primary pull-right" %>
          </div>

        </div>
      <% end %>
    </div>
  </div>
</div>