<div class="container my-5">
  <div class="background-color">
    <div class="row">
      <div class="col-md-9 mt-3">
        <div class="col-md-5 mt-5"><%= attachment_image_tag(@recipe, :image, size: "340x280" ) %>
        <% if user_signed_in? %>
          <table class='iine-table'>
            <tr class="recipe_<%= @recipe.id %>">
              <%= render 'like', recipe: @recipe %>
            </tr>
          </table>
        <% end %>
        </div>
        <div class="col-md-5 mt-5 recipe-show">
          <h3 style="font-size: 30px;"><strong>料理名<br><%= @recipe.name %><strong></h3>
          <p style="font-size: 20px;"><strong>材料<strong><br><%= @recipe.ingredient %></p>
          <p style="font-size: 20px;"><strong>作り方<strong><br><%= @recipe.how_to_cook %></p>
          <p style="font-size: 20px;"><strong>PFC<strong><br><%= @recipe.pfc %></p>
        </div>
        <% if @recipe.user == current_user %>
          <div>
            <p><%= link_to "編集する", edit_users_recipe_path(@recipe), class: "btn-sm btn-success" %></p>
            <p><%= link_to "削除する", users_recipe_path(@recipe), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-sm btn-danger" %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>