<div class="container my-5">
  <div class="background-color">
    <div class="row">
      <div class="col-md-9 mt-3">
        <div class="col-md-5 mt-5"><%= attachment_image_tag(@recipe, :image, size: "340x280" ) %></div>
        <div class="col-md-5 mt-5">
          <h3><strong>料理名<br><%= @recipe.name %><strong></h3>
          <p><strong>材料<strong><br><%= @recipe.ingredient %></p>
          <p class="d-inline mr-3"><strong>作り方<strong><br><%= @recipe.how_to_cook %></p>
          <p><strong>PFC<strong><br><%= @recipe.pfc %></p>
        </div>
        <% if @recipe.user == current_user %>
          <td><%= link_to "編集する", edit_users_recipe_path(@recipe), class: "btn-sm btn-success" %></td>
          <td><%= link_to "削除する", users_recipe_path(@recipe), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-sm btn-danger" %></td>
        <% end %>
      </div>
    </div>
  </div>
</div>