<header>

	<div class="header_flex">
	<nav>

		<% if admin_signed_in? %>
			<%= link_to admins_genres_path do %>
			<h1 class="shop-title">飯トレ</h1>
			<% end %>
		<% else %>
			<%= link_to root_path do %>
			<h1 class="shop-title">飯トレ</h1>
			<% end %>
		<% end %>

	</nav>
	<nav>
		<ul class="navbar navbar-right">
			<!-- カスタマーがログインしている時 -->
			<% if user_signed_in? %>

				<li>
					<%= link_to "マイページ", user_path(current_user), class: "btn btn-default" %>
				</li>

				<li>
					<%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-default" %>
				</li>
			<% elsif admin_signed_in? %>
			<!-- 管理者がログインしている時 -->
				<li>
					<%= link_to "ジャンル一覧", admins_genres_path, class: "btn btn-default" %>
				</li>
				<li>
					<%= link_to "ログアウト", destroy_admins_session_path, method: :delete, class: "btn btn-default" %>
				</li>
			<% else %>
			<!-- ログインしてない時 -->
				<li>
					<%= link_to "新規登録", new_user_registration_path, class: "btn btn-default" %>
				</li>
				<li>
					<%= link_to "ログイン", new_user_session_path, class: "header_btn glyphicon glyphicon-log-in btn btn-default" %>
				</li>
			<% end %>
		</ul>
	</nav>

</header>