<header>

	<div class="header_flex">
	<nav>

		<% if admin_signed_in? %>
			<%= link_to admins_genres_path do %>
			<h1 class="site-title">飯トレ</h1>
			<% end %>
		<% else %>
			<%= link_to root_path do %>
			<h1 class="site-title">飯トレ</h1>
			<% end %>
		<% end %>

	</nav>
	<nav>
		<ul class="navbar navbar-right">
			<!-- ユーザーがログインしている時 -->
			<% if user_signed_in? %>
			　　<li class="search-item">
				<%= search_form_for @search, url: users_recipes_path do |f| %>
    				<% f.label :name_cont　%>
    				<%= f.search_field :name_cont, placeholder: "レシピを検索" %>
    				<%= f.submit "検索" %>
				<% end %>
			    </li>
                <li class="user-name">
					ようこそ、<%= current_user.name  %> 様！
				</li>

				<li>
					<%= link_to "マイページ", user_path(current_user), class: "btn btn-default" %>
				</li>
                <li>
					<%= link_to "レシピ一覧", users_recipes_path, class: "btn btn-default" %>
				</li>
				<li>
					<%= link_to "会員一覧", users_path, class: "btn btn-default" %>
				</li>
				<li>
					<%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-default" %>
				</li>
			<% elsif admin_signed_in? %>
			<!-- 管理者がログインしている時 -->
			    <li>
					<%= link_to "会員一覧", admins_users_path, class: "btn btn-default" %>
				</li>
				<li>
					<%= link_to "レシピ一覧", admins_recipes_path, class: "btn btn-default" %>
				</li>
				<li>
					<%= link_to "ジャンル一覧", admins_genres_path, class: "btn btn-default" %>
				</li>
				<li>
					<%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-default" %>
				</li>
			<% else %>
			<!-- ログインしてない時 -->
			　　<li class="search-item">
				<%= search_form_for @search, url: users_recipes_path do |f| %>
    				<% f.label :name_cont %>
    				<%= f.search_field :name_cont, placeholder: "レシピを検索" %>
    				<%= f.submit "検索" %>
				<% end %>
			    </li>
			    <li>
					<%= link_to "About", homes_about_path, class: "btn btn-default" %>
				<li>
					<%= link_to "レシピ一覧", users_recipes_path, class: "btn btn-default" %>
				</li>
				<li>
					<%= link_to "新規登録", new_user_registration_path, class: "btn btn-default" %>
				</li>
				<li>
					<%= link_to "ログイン", new_user_session_path, class: "header_btn glyphicon glyphicon-log-in btn btn-default" %>
				</li>
			<% end %>
		</ul>
	</nav>

</header>